.btn {
    font-family: inherit;
    font-size: inherit;
    font-weight: var(--fw-500);
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: 1.2;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid transparent;
    vertical-align: middle;
    -webkit-appearance: none;
    color: inherit;
    background-color: transparent;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: none;
        border-color: var(--border-color--focus);
        box-shadow: 0 0 0 3px rgba(0,0,0,.25);
    }

    &--primary {
        background-color: var(--btn-primary-bg);
        color: var(--btn-primary-color);
        border-radius: var(--border-radius);

        &:hover {
            box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
        }

        &:active {
            box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125), inset 0 3px 4px 0 rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.125);
        }

        &:disabled {
            opacity: 0.5;
        }
    }

    &--secondary {
        background-color: var(--btn-secondary-bg);
        color: var(--btn-secondary-color);
        border-radius: var(--border-radius);

        &:hover {
            box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
        }

        &:active {
            box-shadow: inset 0 0 0 20rem rgba(0,0,0,0.125), inset 0 3px 4px 0 rgba(0,0,0,0.25), 0 0 1px rgba(0,0,0,0.125);
        }

        &:disabled {
            opacity: 0.5;
        }
    }

    &--outline {
        border-color: currentColor;
        border-radius: var(--border-radius);

        &:hover {
            border-color: currentColor;
            box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
        }

        &:active {
            box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125), inset 0 3px 4px 0 rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.125);
        }

        &:disabled {
            opacity: 0.5;
        }
    }

    &--big {
        padding: 1rem 1.25rem;
    }

    &--small {
        padding: 0.25rem 0.5rem;
    }
}

.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    > {
        &:first-child:not(:last-child) {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            float: left;
            margin-left: 0;
            margin-bottom: 0;
        }

        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }

        &:last-child:not(:first-child) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }

    .btn + .btn {
        margin-left: -1px;
    }
}

.btn-block {
    display: block;
    width: 100%;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
