* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: var(--base-fs);
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    text-rendering: optimizeLegibility;
}

html,
body {
    position: relative;
    display: flex;
    overflow-x: hidden;
    width: 100%;
}

body {
    line-height: var(--baseline);
    font-family: var(--ff-base);
    word-wrap: break-word;
    color: var(--font-color);
    display: flex;
    margin: 0;
    flex-flow: column;
}

a:not(.nav-brand):not(.nav-link) {
    color: var(--accent-color-3);
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-decoration-color: currentColor;
    text-decoration-skip: ink;

    &:hover,
    &:active {
        color: color(var(--accent-color-3) lightness(-10%));
    }
}
