textarea,
select {
    height: 38px;
    padding: 6px 10px;
    background-color: #FFFFFF;
    border: 1px solid lighten(border-color, 8.8%);
    border-radius: var(--global-radius);
    box-shadow: none;
    box-sizing: border-box;

    &:focus {
        border: 1px solid var(--primary-color);
        outline: 0;
    }
}

input {

    &[type="email"],
    &[type="number"],
    &[type="search"],
    &[type="text"],
    &[type="tel"],
    &[type="url"],
    &[type="password"] {
        appearance: none;

        &:focus {
            border: 1px solid var(--primary-color);
            outline: 0;
        }
    }

    &[type="checkbox"],
    &[type="radio"] {
        display: inline;
    }
}

label,
legend {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

fieldset {
    padding: 0;
    border-width: 0;
}

label > .label-body {
    display: inline-block;
    margin-left: 0.5rem;
    font-weight: 400;
}
