.skipToContent {
    position: relative;
    text-align: center;
    height: 0;

    a {
        position: relative;
        top: -100px;
        z-index: 100;
        background-color: #fff;

        &:focus {
            top: 5px;
        }
    }
}
