/* Base files. */

:root {
    -

    --fw-200: 200;
}

// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

html {
    font-size: 16px;
}

body {
    line-height: 1.6;
    font-family

    : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color

    : #11141E;
    margin: 0;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top

    : 1px solid #E4E4EA;
}

a {
    color

    : #F03E3E;
    cursor: pointer;
    font-weight: 500;
    -webkit-transition

    : all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-text-decoration-color: currentColor;
            text-decoration-color: currentColor;;
    -webkit-text-decoration-skip: ink;;
            text-decoration-skip: ink;
}

a:hover,
    a:active {
    color

    : rgb(232, 17, 17);
}

.btn {
    font-family: inherit;
    font-size: inherit;
    font-weight

    : 500;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: 1.2;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid transparent;
    vertical-align: middle;
    -webkit-appearance: none;
    color: inherit;
    background-color: transparent;
}

.btn:hover {
    text-decoration: none;
}

.btn:focus {
    outline: none;
    border-color

    : rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 0 3px rgba(0,0,0,.25);
}

.btn--primary {
    background-color

    : rgb(109, 210, 128);
    color

    : #191C21;
    border-radius

    : 3px;
}

.btn--primary:hover {
    box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
}

.btn--primary:active {
    box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125), inset 0 3px 4px 0 rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.125);
}

.btn--primary:disabled {
    opacity: 0.5;
}

.btn--secondary {
    background-color

    : #E4E4EA;
    color

    : #191C21;
    border-radius

    : 3px;
}

.btn--secondary:hover {
    box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
}

.btn--secondary:active {
    box-shadow: inset 0 0 0 20rem rgba(0,0,0,0.125), inset 0 3px 4px 0 rgba(0,0,0,0.25), 0 0 1px rgba(0,0,0,0.125);
}

.btn--secondary:disabled {
    opacity: 0.5;
}

.btn--outline {
    border-color: currentColor;
    border-radius

    : 3px;
}

.btn--outline:hover {
    border-color: currentColor;
    box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
}

.btn--outline:active {
    box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125), inset 0 3px 4px 0 rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.125);
}

.btn--outline:disabled {
    opacity: 0.5;
}

.btn--big {
    padding: 1rem 1.25rem;
}

.btn--small {
    padding: 0.25rem 0.5rem;
}

.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn-group >:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    float: left;
    margin-left: 0;
    margin-bottom: 0;
}

.btn-group >:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.btn-group >:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn-group .btn + .btn {
    margin-left: -1px;
}

.btn-block {
    display: block;
    width: 100%;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color

    : #191C21;
    color

    : #FDFDFD;
}

@media screen and (min-width: 675px) {

    .footer {
        padding

    : 0 1rem;
    }
}

.footer__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer__nav.nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media (min-width: 675px) {

    .footer__nav.nav {
        -webkit-box-pack

    : justify;
            -ms-flex-pack

    : justify;
                justify-content

    : space-between;
    }
}

// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

textarea,
select {
  height: 38px;
  padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
  background-color: #fff;
  border: 1px solid lighten(border-color, 8.8%);
  border-radius

    : 4px;
  box-shadow: none;
  box-sizing: border-box;
}

// Removes awkward default styles on some inputs for iOS
input[type="email"],
  // Removes awkward default styles on some inputs for iOS
input[type="number"],
  // Removes awkward default styles on some inputs for iOS
input[type="search"],
  // Removes awkward default styles on some inputs for iOS
input[type="text"],
  // Removes awkward default styles on some inputs for iOS
input[type="tel"],
  // Removes awkward default styles on some inputs for iOS
input[type="url"],
  // Removes awkward default styles on some inputs for iOS
input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus {
    border

    : 1px solid rgb(109, 210, 128);
    outline: 0;
}

textarea:focus,
select:focus {
  border

    : 1px solid rgb(109, 210, 128);
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
  input[type="radio"] {
    display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color

    : #191C21;
}

@media screen and (min-width: 675px) {

    .header {
        padding

    : 0 1rem;
    }
}

.header__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.hero {
    background-color

    : #191C21;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    min-height: 40vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 675px) {

    .hero {
        min-height

    : 60vh;
    }
}

.hero__container {
    max-width: 60em;
    margin: 0 auto;
}

.hero__title {
    color

    : rgb(109, 210, 128);
    font-size: calc(100% + 16vw);
    font-weight

    : 600;
    margin-top: -3rem;
    letter-spacing: -0.0125em;
    line-height: 1;
}

.hero__sub-title {
    color

    : #FDFDFD;
    font-size: calc(50% + 1vw);
    font-weight

    : 400;
    letter-spacing: 0.025em;
    margin-bottom: 1.5rem
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

section {
    padding: 3rem 1rem;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
}

.nav-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.nav-brand,
    .nav-link {
    color

    : #FDFDFD;
    text-decoration: none;
}

.nav-brand {
    font-size: 2rem;
    font-weight

    : 600;
}

.nav-item {
    font-weight

    : 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem;
}

@media (min-width: 675px) {

    .nav-item {
        padding

    : 1rem 0.5rem;
    }
}

+ .nav-item__item {
    margin-left: 5px;
}

// Spacing
//––––––––––––––––––––––––––––––––––––––––––––––––––

button,
.button {
  margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 1.5rem;
}

ul,
ol {
    margin-left: 2rem;
}

// Tables
//––––––––––––––––––––––––––––––––––––––––––––––––––

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom

    : 1px solid #E4E4EA;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

h1,
h2,
h3,
h4,
p {
    font-family

    : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight

    : 400;
}

h1 {
    font-size: 3.998em;
    line-height: 1.2;
    letter-spacing: -.1rem;
}

h2 {
    font-size: 2.827em;`
    line-height: 1;
    letter-spacing: 0;
}

h3 {
    font-size: 1.999em;`
    letter-spacing: 0;
}

h4 {
    font-size: 1.414em;`
    line-height: 1;
    letter-spacing: -.08rem;
}

p {
    line-height: 1.5;`
    letter-spacing: 0;
}

p + p {
    margin-top: 1.5rem;
}

p + ul {
    margin: 0;
}

[class*="__title"]:not(.hero__title) {
    font-weight

    : 600;
    font-size: 3rem;
    margin: 0 0 0.5rem 0;
    text-align: center;
}

@media screen and (min-width: 675px) {

    [class*="__title"]:not(.hero__title) {
        font-size

    : 4rem;
    }
}

[class*="__sub-title"]:not(.hero__sub-title) {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0.5rem 0 1.5rem 0;
    letter-spacing: 0;
    text-align: center;
}

@media (min-width: 675px) {

    [class*="__sub-title"]:not(.hero__sub-title) {
        font-size

    : 1rem;
    }
}

[class*="__box-content"],
[class*="__box-list"] {
    font-size: 1.125rem;
    line-height: 2;
    letter-spacing: 0.025rem;
}

[class*="__box-title"] {
    font-size: 1rem;
    letter-spacing: 0.025rem;
    font-weight

    : 600;
    margin-bottom: 0.5rem;
}

code {
        font-family

    : "Inconsolata","Monaco","Consolas","Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
  margin: 0 .2rem;
  padding: 2px 8px 3px;
  white-space: nowrap;
  overflow-x: auto;
  font-size: 0.9rem;
  line-height: 1;
  border-radius: 0;
}

pre {
    max-width: 680px;
    margin: 0 auto;
    margin: 20px 25px;
    position: relative;
    background: #1F2227;
    border: 0;
    border-left

    : 2px solid #4263EB;
    border-radius: 0;
    overflow-x: auto;
 }

pre > code {
    display: block;
    white-space: pre;
    margin: -15px 0 10px 20px;
    padding: 0;
    overflow-x: auto;
    font-size: 0.9rem;
    line-height: 2;
    color: #6C7887;
    font-family: "Inconsolata","Monaco","Consolas","Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
    display: block;
}

pre.code {
    margin: 20px 25px;
    position: relative;
}

pre.code code {
font-family: "Inconsolata","Monaco","Consolas","Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
    display: block;
    margin: -15px 0 0 20px;
    padding: 15px 0 15px;
    overflow-x: auto;
    font-size: 0.9rem;
    line-height: 2;
    color: #6C7887;
}

pre.code::after {
    content: "double click to selection";
    padding: 0;
    width: auto;
    height: auto;
    position: absolute;
    right: 18px;
    top: 7px;
    font-size: 12px;
    color: #444;
    line-height: 20px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition

    : all 0.3s ease;
    transition: all 0.3s ease;
}

pre:hover::after {
    opacity: 0;
    visibility: visible;
}

// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.u-hidden {
    display: none;
}

/* Modules */

.about {
    background-color: white;
}

.about__container {
    max-width: 60em;
    margin: 0 auto;
}

.about__title,
    .about__sub-title {
    text-align: center;
}

.about__title {
    color

    : #191C21;
}

.about__sub-title {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0;
}

@media screen and (min-width: 675px) {

    .about__sub-title {
        font-size

    : 1.2rem;
    }
}

.about__box-container {
    display: block;
    max-width: 40em;
    margin: 0 auto 1.5rem auto;
    padding: 1rem 0 0;
}

@media screen and (min-width: 950px) {

    .about__box-container {
        display

    : -webkit-box;
        display

    : -ms-flexbox;
        display

    : flex;
        max-width

    : 100%;
        -webkit-box-pack

    : center;
            -ms-flex-pack

    : center;
                justify-content

    : center;
    }
}

.about__box {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
}

.about__box-title {}

.about__box-content {
    margin-top: 0;
}

+ .about__box__box {
    margin-top: 1.5rem;
}

.colors {
    background-color

    : #E4E4EA;
}

.colors__container {
    max-width: 60em;
    margin: 0 auto;
}

.colors__title {}

.colors__sub-title {
    color

    : rgb(37, 119, 52);
}

.colors__box-container {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 0 0;
}

@media screen and (min-width: 950px) {

    .colors__box-container {
        display

    : -webkit-box;
        display

    : -ms-flexbox;
        display

    : flex;
        max-width

    : 40em;
        -webkit-box-pack

    : center;
            -ms-flex-pack

    : center;
                justify-content

    : center;
    }
}

.colors__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 2;
    max-width: 100%;
    margin: 0 auto;
}

.colors__box-content {}

.colors--code {
    color

    : #191C21;
    white-space: pre-line;
    line-height: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.colors__color-maps {
    padding: 3rem 0;
}

.column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 100%;
    min-height: 1px;
}

.column--color {
    height: 2vw;
    width: 2vw;
    padding: 2rem;
}

@media (min-width: 675px) {

    .column--color {
        height

    : 5vw;
        width

    : 5vw;
    }
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}

.flex {
    height: 200px;
}

.grey {
    background-color

    : #6C6D73;
    color: white;
}

.grey-dark {
    background-color

    : rgb(50, 51, 54);
    color: white;
}

.grey-medium {
    background-color

    : rgb(71, 72, 76);
    color: white;
}

.grey-light {
    background-color

    : rgb(152, 153, 158);
    color: white;
}

.grey-lighter {
    background-color

    : rgb(174, 175, 179);
    color: white;
}

.red {
    background-color

    : #F03E3E;
    color: white;
}

.red-dark {
    background-color

    : rgb(157, 12, 12);
    color: white;
}

.red-medium {
    background-color

    : rgb(197, 14, 14);
    color: white;
}

.red-light {
    background-color

    : rgb(246, 130, 130);
    color: white;
}

.red-lighter {
    background-color

    : rgb(249, 170, 170);
    color: white;
}

.pink {
    background-color

    : #D6336C;
    color: white;
}

.pink-dark {
    background-color

    : rgb(116, 23, 55);
    color: white;
}

.pink-medium {
    background-color

    : rgb(152, 30, 73);
    color: white;
}

.pink-light {
    background-color

    : rgb(228, 117, 156);
    color: white;
}

.pink-lighter {
    background-color

    : rgb(235, 154, 182);
    color: white;
}

.purple {
    background-color

    : #AE3EC9;
    color: white;
}

.purple-dark {
    background-color

    : rgb(93, 31, 108);
    color: white;
}

.purple-medium {
    background-color

    : rgb(122, 40, 142);
    color: white;
}

.purple-light {
    background-color

    : rgb(201, 127, 218);
    color: white;
}

.purple-lighter {
    background-color

    : rgb(215, 161, 229);
    color: white;
}

.violet {
    background-color

    : #7048E8;
    color: white;
}

.violet-dark {
    background-color

    : rgb(53, 19, 155);
    color: white;
}

.violet-medium {
    background-color

    : rgb(66, 24, 193);
    color: white;
}

.violet-light {
    background-color

    : rgb(165, 139, 241);
    color: white;
}

.violet-lighter {
    background-color

    : rgb(195, 178, 246);
    color: white;
}

.indigo {
    background-color

    : #4263EB;
    color: white;
}

.indigo-dark {
    background-color

    : rgb(16, 43, 153);
    color: white;
}

.indigo-medium {
    background-color

    : rgb(20, 54, 192);
    color: white;
}

.indigo-light {
    background-color

    : rgb(133, 156, 242);
    color: white;
}

.indigo-lighter {
    background-color

    : rgb(173, 187, 247);
    color: white;
}

.blue {
    background-color

    : #1C7CD6;
    color: white;
}

.blue-dark {
    background-color

    : rgb(14, 60, 104);
    color: white;
}

.blue-medium {
    background-color

    : rgb(19, 82, 142);
    color: white;
}

.blue-light {
    background-color

    : rgb(90, 164, 234);
    color: white;
}

.blue-lighter {
    background-color

    : rgb(128, 185, 239);
    color: white;
}

.cyan {
    background-color

    : #1098AD;
    color: white;
}

.cyan-dark {
    background-color

    : rgb(6, 60, 67);
    color: white;
}

.cyan-medium {
    background-color

    : rgb(10, 94, 107);
    color: white;
}

.cyan-light {
    background-color

    : rgb(55, 202, 224);
    color: white;
}

.cyan-lighter {
    background-color

    : rgb(84, 218, 239);
    color: white;
}

.teal {
    background-color

    : #0CA678;
    color: white;
}

.teal-dark {
    background-color

    : rgb(4, 61, 44);
    color: white;
}

.teal-medium {
    background-color

    : rgb(7, 101, 73);
    color: white;
}

.teal-light {
    background-color

    : rgb(51, 221, 170);
    color: white;
}

.teal-lighter {
    background-color

    : rgb(72, 242, 191);
    color: white;
}

.green {
    background-color

    : #37B24D;
    color: white;
}

.green-dark {
    background-color

    : rgb(26, 86, 37);
    color: white;
}

.green-medium {
    background-color

    : rgb(37, 119, 52);
    color: white;
}

.green-light {
    background-color

    : rgb(109, 210, 128);
    color: white;
}

.green-lighter {
    background-color

    : rgb(142, 220, 156);
    color: white;
}

.lime {
    background-color

    : #74B816;
    color: white;
}

.lime-dark {
    background-color

    : rgb(49, 77, 9);
    color: white;
}

.lime-medium {
    background-color

    : rgb(74, 116, 14);
    color: white;
}

.lime-light {
    background-color

    : rgb(161, 232, 61);
    color: white;
}

.lime-lighter {
    background-color

    : rgb(179, 237, 99);
    color: white;
}

.yellow {
    background-color

    : #EFA342;
    color: white;
}

.yellow-dark {
    background-color

    : rgb(160, 96, 14);
    color: white;
}

.yellow-medium {
    background-color

    : rgb(200, 121, 17);
    color: white;
}

.yellow-light {
    background-color

    : rgb(245, 197, 135);
    color: white;
}

.yellow-lighter {
    background-color

    : rgb(248, 217, 175);
    color: white;
}

.orange {
    background-color

    : #F76707;
    color: white;
}

.orange-dark {
    background-color

    : rgb(126, 53, 4);
    color: white;
}

.orange-medium {
    background-color

    : rgb(168, 71, 5);
    color: white;
}

.orange-light {
    background-color

    : rgb(250, 152, 87);
    color: white;
}

.orange-lighter {
    background-color

    : rgb(251, 178, 129);
    color: white;
}

.get-started {
    background-color

    : #191C21;
}

.get-started__container {
    max-width: 45em;
    margin: 0 auto;
}

.get-started__title {
    color

    : #fff;
}

.get-started__sub-title {
    color

    : rgb(174, 175, 179);
}

.get-started__box-container {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 0 0;
}

@media screen and (min-width: 950px) {

    .get-started__box-container {
        display

    : -webkit-box;
        display

    : -ms-flexbox;
        display

    : flex;
        max-width

    : 40em;
        -webkit-box-orient

    : vertical;
        -webkit-box-direction

    : normal;
            -ms-flex-direction

    : column;
                flex-direction

    : column;
    }
}

.get-started__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 2;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    padding: 1.5rem 0;
}

.get-started__box-title {
    color

    : #FDFDFD;
}

.get-started pre.code,
    .get-started pre {
    margin-left: 0;
    margin-right: 0;
}

@media screen and (min-width: 675px) {

    .get-started pre.code,
    .get-started pre {
        margin-left

    : initial;
        margin-right

    : initial;
    }
}

.get-started pre.code code, .get-started pre code {
    white-space: pre-line;
}

@media screen and (min-width: 675px) {

    .get-started pre.code code, .get-started pre code {
        white-space

    : inherit;
    }
}

/*# sourceMappingURL=app.css.map*/