:root {
    --ff-base: var(--ff-system);
    --ff-base-mono: var(--ff-system-mono);
    --ff-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    --ff-system-mono: "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;

    --fs-xxs: calc(var(--fs) * 0.5);
    --fs-xs: calc(var(--fs) * 0.75);
    --fs-sm: calc(var(--fs) * 0.875);
    --fs: var(--baseline);
    --fs-md: calc(var(--fs) * 1.125);
    --fs-lg: calc(var(--fs) * 1.25);
    --fs-xl: calc(var(--fs) * 1.375);
    --fs-xxl: calc(var(--fs) * 1.625);

    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
}
