.about {
    background-color: white;

    &__container {
        max-width: 60em;
        margin: 0 auto;
    }

    &__title,
    &__sub-title {
        text-align: center;
    }

    &__title {
        color: var(--secondary-color);
    }

    &__sub-title {
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 0;

        @media screen and (min-width: 675px) {
            font-size: 1.2rem;
        }
    }

    &__box-container {
        display: block;
        max-width: 40em;
        margin: 0 auto 1.5rem auto;
        padding: 1rem 0 0;

        @media screen and (min-width: 950px) {
            display: flex;
            max-width: 100%;
            justify-content: center;
        }
    }

    &__box {
        display: inline-flex;
        flex-direction: column;
        flex-basis: 400px;

        &-title {

        }

        &-content {
            margin-top: 0;
        }

        + &__box {
            margin-top: 1.5rem;
        }
    }
}
