.colors {
    background-color: var(--light-grey);

    &__container {
        max-width: 60em;
        margin: 0 auto;
    }

    &__title { }

    &__sub-title {
        color: var(--green-medium);
    }

    &__box-container {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        padding: 1rem 0 0;

        @media screen and (min-width: 950px) {
            display: flex;
            max-width: 40em;
            justify-content: center;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        line-height: 2;
        max-width: 100%;
        margin: 0 auto;

        &-content { }
    }

    &--code {
        color: var(--blackish);
        white-space: pre-line;
        line-height: 2;
        display: flex;
    }

    &__color-maps {
        padding: 3rem 0;
    }
}

.column {
    display: flex;
    position: relative;
    flex: 1 1 auto;
    max-width: 100%;
    min-height: 1px;

    &--color {
        height: 2vw;
        width: 2vw;
        padding: 2rem;

        @media (min-width: 675px) {
            height: 5vw;
            width: 5vw;
        }
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.flex {
    height: 200px;
}

.grey {
    background-color: var(--grey);
    color: #FFFFFF;

    &-dark {
        background-color: var(--grey-dark);
        color: #FFFFFF;
    }

    &-medium {
        background-color: var(--grey-medium);
        color: #FFFFFF;
    }

    &-light {
        background-color: var(--grey-light);
        color: #FFFFFF;
    }

    &-lighter {
        background-color: var(--grey-lighter);
        color: #FFFFFF;
    }
}

.red {
    background-color: var(--red);
    color: #FFFFFF;

    &-dark {
        background-color: var(--red-dark);
        color: #FFFFFF;
    }

    &-medium {
        background-color: var(--red-medium);
        color: #FFFFFF;
    }

    &-light {
        background-color: var(--red-light);
        color: #FFFFFF;
    }

    &-lighter {
        background-color: var(--red-lighter);
        color: #FFFFFF;
    }
}

.pink {
    background-color: var(--pink);
    color: #FFFFFF;

    &-dark {
        background-color: var(--pink-dark);
        color: #FFFFFF;
    }

    &-medium {
        background-color: var(--pink-medium);
        color: #FFFFFF;
    }

    &-light {
        background-color: var(--pink-light);
        color: #FFFFFF;
    }

    &-lighter {
        background-color: var(--pink-lighter);
        color: #FFFFFF;
    }
}

.purple {
    background-color: var(--purple);
    color: #FFFFFF;

    &-dark {
        background-color: var(--purple-dark);
        color: #FFFFFF;
    }

    &-medium {
        background-color: var(--purple-medium);
        color: #FFFFFF;
    }

    &-light {
        background-color: var(--purple-light);
        color: #FFFFFF;
    }

    &-lighter {
        background-color: var(--purple-lighter);
        color: #FFFFFF;
    }
}

.violet {
    background-color: var(--violet);
    color: #FFFFFF;

    &-dark {
        background-color: var(--violet-dark);
        color: #FFFFFF;
    }

    &-medium {
        background-color: var(--violet-medium);
        color: #FFFFFF;
    }

    &-light {
        background-color: var(--violet-light);
        color: #FFFFFF;
    }

    &-lighter {
        background-color: var(--violet-lighter);
        color: #FFFFFF;
    }
}

.indigo {
    background-color: var(--indigo);
    color: #FFFFFF;

    &-dark {
        background-color: var(--indigo-dark);
        color: #FFFFFF;
    }

    &-medium {
        background-color: var(--indigo-medium);
        color: #FFFFFF;
    }

    &-light {
        background-color: var(--indigo-light);
        color: #FFFFFF;
    }

    &-lighter {
        background-color: var(--indigo-lighter);
        color: #FFFFFF;
    }
}

.blue {
    background-color: var(--blue);
    color: #FFFFFF;

    &-dark {
        background-color: var(--blue-dark);
        color: #FFFFFF;
    }

    &-medium {
        background-color: var(--blue-medium);
        color: #FFFFFF;
    }

    &-light {
        background-color: var(--blue-light);
        color: #FFFFFF;
    }

    &-lighter {
        background-color: var(--blue-lighter);
        color: #FFFFFF;
    }
}

.cyan {
    background-color: var(--cyan);
    color: #FFFFFF;

    &-dark {
        background-color: var(--cyan-dark);
        color: #FFFFFF;
    }

    &-medium {
        background-color: var(--cyan-medium);
        color: #FFFFFF;
    }

    &-light {
        background-color: var(--cyan-light);
        color: #FFFFFF;
    }

    &-lighter {
        background-color: var(--cyan-lighter);
        color: #FFFFFF;
    }
}

.teal {
    background-color: var(--teal);
    color: #FFFFFF;

    &-dark {
        background-color: var(--teal-dark);
        color: #FFFFFF;
    }

    &-medium {
        background-color: var(--teal-medium);
        color: #FFFFFF;
    }

    &-light {
        background-color: var(--teal-light);
        color: #FFFFFF;
    }

    &-lighter {
        background-color: var(--teal-lighter);
        color: #FFFFFF;
    }
}

.green {
    background-color: var(--green);
    color: #FFFFFF;

    &-dark {
        background-color: var(--green-dark);
        color: #FFFFFF;
    }

    &-medium {
        background-color: var(--green-medium);
        color: #FFFFFF;
    }

    &-light {
        background-color: var(--green-light);
        color: #FFFFFF;
    }

    &-lighter {
        background-color: var(--green-lighter);
        color: #FFFFFF;
    }
}

.lime {
    background-color: var(--lime);
    color: #FFFFFF;

    &-dark {
        background-color: var(--lime-dark);
        color: #FFFFFF;
    }

    &-medium {
        background-color: var(--lime-medium);
        color: #FFFFFF;
    }

    &-light {
        background-color: var(--lime-light);
        color: #FFFFFF;
    }

    &-lighter {
        background-color: var(--lime-lighter);
        color: #FFFFFF;
    }
}

.yellow {
    background-color: var(--yellow);
    color: #FFFFFF;

    &-dark {
        background-color: var(--yellow-dark);
        color: #FFFFFF;
    }

    &-medium {
        background-color: var(--yellow-medium);
        color: #FFFFFF;
    }

    &-light {
        background-color: var(--yellow-light);
        color: #FFFFFF;
    }

    &-lighter {
        background-color: var(--yellow-lighter);
        color: #FFFFFF;
    }
}

.orange {
    background-color: var(--orange);
    color: #FFFFFF;

    &-dark {
        background-color: var(--orange-dark);
        color: #FFFFFF;
    }

    &-medium {
        background-color: var(--orange-medium);
        color: #FFFFFF;
    }

    &-light {
        background-color: var(--orange-light);
        color: #FFFFFF;
    }

    &-lighter {
        background-color: var(--orange-lighter);
        color: #FFFFFF;
    }
}
